
<div class="container background-color">
  <h1 id="greeting" class="text-center"> Welcome to the Task Manager</h1>

  <div class="navbar-default">
    <ul class="nav navbar-nav navbar-center navbar">
      <li><a href="/tasks">Task Index</a></li>
      <li><a href="/tasks/new">New Task</a></li>
    </ul>
  </div>
</div>
